<section id="3-reasons-to-purchase" class="section1">
    <h3 class="section1__title">3 reasons to purchase</h3>
    <article class="section1__article">
        <h4 class="section1__article--title">Ut sed metus</h4>
        <p class="section1__article--text">
            Lorem ipsum dolor sit amet, consecteur.
        </p>
    </article>
    <article class="section1__article">
        <h5 class="section1__article--title">Curabitur ac erat</h5>
        <p class="section1__article--text">
            Mauris mattis urna quis lorem molestie.
        </p>
    </article>
    <article class="section1__article">
        <h6 class="section1__article--title">Morbi dictum</h6>
        <p class="section1__article--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="section1__button" href="https://adalab.es/" alt="go to adalab" title="go to adalab" target="_blank">More
        reasons
    </a>
    <a href="#header" class="section1__headerlink" title="scroll up"> </a>
</section>