<section id="3-reasons-to-purchase" class="section1">
    <h3 class="section1__title">3 reasons to purchase</h3>
    <include src="./link.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></include>
    <include src="./link.html" title="Curabitur ac erat" text="Lorem ipsum dolor sit amet, consecteur."></include>
    <include src="./link.html" title="Morbi dictum" text=" Aliquam in dolor et dolor tincidunt."></include>
    <a class="section1__button" href="https://adalab.es/" alt="go to adalab" title="go to adalab" target="_blank">More
        reasons
    </a>
    <a href="#header" class="section1__headerlink" title="scroll up"> </a>
</section>