<footer class="footer">
  <div class="footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav--list1">
        <li><a href="https://adalab.es/" class="footer__nav--list1__link" target="_blank"
            title="go to Adalab">Articles</a></li>
        <li><a href="https://adalab.es/" class="footer__nav--list1__link" target="_blank" title="go to Adalab">Books</a>
        </li>
        <li><a href="https://adalab.es/" class="footer__nav--list1__link" target="_blank"
            title="go to Adalab">Events</a></li>
        <li><a href="https://adalab.es/" class="footer__nav--list1__link" target="_blank"
            title="go to Adalab">Reasons</a></li>
        <li><a href="https://adalab.es/" class="footer__nav--list1__link" target="_blank" title="go to Adalab">Tips</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer__nav--list2">
        <li><a href="https://adalab.es/" class="footer__nav--list2__link" target="_blank"
            title="go to Adalab">Twitter</a></li>
        <li><a href="https://adalab.es/" class="footer__nav--list2__link" target="_blank"
            title="go to Adalab">Instagram</a></li>
        <li><a href="https://adalab.es/" class="footer__nav--list2__link" target="_blank"
            title="go to Adalab">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <small class="footer__small">
      <p>&copy;2021</p>
      <p>we components</p>
    </small>
  </div>
</footer>