<footer class="footer">
  <img src="./assets/images/ico-arrow.svg" alt="up arrow" title="go up" />
  <nav class="footer__nav">
    <ul class="footer__nav--list1">
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
  </nav>
  <nav>
    <ul class="footer__nav--list2">
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon.social</li>
    </ul>
  </nav>
  <p> &copy;2021</p>
  <p>we (love font awsome) components</p>
</footer>