<footer class="footer">
  <a href="#header" class="footer__seclink" title="scroll up"> </a>
  <div class="footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav--list1">
        <li><a href="https://adalab.es/" class="header__menu" target="_blank">Articles</a></li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </nav>
    <nav>
      <ul class="footer__nav--list2">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.social</li>
      </ul>
    </nav>
    <small class="footer__small">
      <p>&copy;2021</p>
      <p>we <i class="fas fa-heart"></i> components</p>
    </small>
  </div>
</footer>