<!--<header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header>-->

<header class="header">

  <a href="https://adalab.es/" class="header__menu" target="_blank"><img class="header__menu--image"
      src="./assets/images/ico-menu.svg" alt="menu" title="menu" />
  </a>

  <h1 class="header__title">Anonymous proxy</h1>
  <p class="header__text">In hac habitasse platea dictumst.</p>
  <img class="header__button" src="/assets/images/ico-scroll-down.svg" alt="boton bajar al contenido"
    title="move to 3 Reasons To Purchase">
</header>