/*colores de la página*/

$brightorange: #f26002;
$white: #ffffff;
$lightblue: #8ccbea;
$ceruleanblue: #0271bc;
$darkblue: #304268;

/*colores por elemento*/

/*header*/
$headerbgcolor: $darkblue;
$hamburgermenu: $ceruleanblue;
$headerfontcolor: $white;
$headerscrollcolor: $white;
/*main*/
$insomniacolor: $lightblue;
$buttonscolor: $brightorange;
$arrowscolor: $brightorange;
$articlebgcolor: $lightblue;
$footerbgcolor: $darkblue;


/*fuentes*/
$roboto: "Roboto", sans-serif;
$robotoslab: "Roboto Slab", serif;
