/*colores de la página*/

$brightorange: #f26002;
$white: #ffffff;
$lightblue: #8ccbea;
$ceruleanblue: #0271bc;
$darkblue: #304268;

/*colores por elemento*/

$hamburgermenu: $ceruleanblue;
$insomniacolor: $lightblue;
$buttonscolor: $brightorange;
$arrowscolor: $brightorange;
$articlebgcolor: $lightblue;
$footerbgcolor: $darkblue;

/*fuentes*/
$robotoslab: "Roboto Slab", serif;
