/*colores de la página*/

$brightorange: #f26002;
$white: #ffffff;
$lightblue: #8ccbea;
$ceruleanblue: #0271bc;
$darkblue: #304268;
$greybrown: #8ccbea28;

/*colores por elemento*/

/*header*/
$headerbgcolor: $darkblue;
$hamburgermenu: $ceruleanblue;
$headerfontcolor: $white;
$headerscrollcolor: $white;
/*main*/
$insomniacolor: $lightblue;
$textsectcolor: $greybrown;
$buttonscolor: $brightorange;
$articlebgcolor: $greybrown;
/*footer*/
$footerbgcolor: $darkblue;
$footercolor: $white;

/*fuentes*/
$roboto: "Roboto", sans-serif;
$robotoslab: "Roboto Slab", serif;
