.section1 {
  font-family: $roboto;
  background-color: $articlebgcolor;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 60px 93px 93px 93px 45px 60px;
  row-gap: 45px;
  text-align: center;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 112px 105px;
    row-gap: 45px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 105px 112px 120px;
    row-gap: 45px;
  }
  .section1__title {
    font-family: $robotoslab;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 30px;
    padding-top: 30px;

    @media (min-width: 768px) {
      font-size: 26px;
      line-height: 45px;
      grid-column: 1 / 4;
    }

    @media (min-width: 1200px) {
      font-size: 32px;
      grid-column: 1 / 4;
    }
  }
  .section1__article {
    display: grid;
    grid-template-columns: 1fr 180px 1fr;
    grid-template-rows: 30px 63px;

    @media (min-width: 768px) {
      grid-template-columns: auto 213px auto;
      grid-template-rows: 30px 68px;
      row-gap: 14px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: auto 350px auto;
      justify-items: center;
    }
    .section1__article--title {
      font-family: $robotoslab;
      font-size: 18px;
      line-height: 30px;
      grid-column-start: 2;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    .section1__article--text {
      font-size: 18px;
      line-height: 30px;
      width: 10em;
      grid-column-start: 2;
      @media (min-width: 768px) {
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .section1__button {
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
    color: $white;
    background-color: $buttonscolor;
    font-weight: bold;
    border: 2px solid $buttonscolor;
    height: 45px;
    width: 184px;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    transition: transform border-color background-color ease-in-out 1s;
    &:hover {
      transform: scale(1.1);
      background-color: $ceruleanblue;
      border-color: $ceruleanblue;
    }
    @media (min-width: 768px) {
      width: 210px;
      grid-column: 2 / 3;
    }
    @media (min-width: 1200px) {
      width: 255px;
    }
  }
  .section1__headerlink {
    background-color: $headerscrollcolor;
    background-image: url("../images/ico-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
}
