.header {
  width: 100vw;
  height: 100vh;
  color: $headerfontcolor;
  background-color: $headerbgcolor;
  background-image: url("../images/cover.jpg");
  background-size: cover;

  .header__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $hamburgermenu;
    width: 44px;
    height: 44px;

    &--image {
      padding: 14px 15px 14px 15px;
    }
  }
}
