.header {
  width: 100%;
  height: 100%;
  color: $headerfontcolor;
  background-color: $headerbgcolor;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $hamburgermenu;
    width: 44px;
    height: 44px;
    &--image {
      padding: 14px 15px 14px 15px;
    }
  }
  .header__title {
    font-family: $robotoslab;
    font-size: 42px;
    width: 7em;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    margin: 244px 15px 10px 15px;

    @media (min-width: 768px) {
      font-size: 80px;
      line-height: 106px;
      margin: 140px 39px 20px 39px;
    }
    @media (min-width: 1200px) {
      font-size: 100px;
      line-height: 132px;
      margin: 210px 275px 0px 275px;
    }
  }
  .header__text {
    font-family: $roboto;
    font-size: 16px;
    line-height: 16px;
    margin: 0px 15px 0px 15px;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 24px;
      margin: 0px 165px 0px 165px;
    }
    @media (min-width: 1200px) {
      margin: 0px 275px 0px 275px;
    }
  }
  .header__seclink {
    background-color: $headerscrollcolor;
    background-image: url("../images/ico-scroll-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 45px 138px 53px 138px;
    @media (min-width: 768px) {
      margin: 30px 361px 45px 362px;
    }
    @media (min-width: 1200px) {
      margin: 30px 618px 13px 618px;
    }
  }
}
