.header {
  /*---------------------------la imagen da error*/
  width: 100vw;
  height: 100vh;
  color: $headerfontcolor;
  background-color: $headerbgcolor;
  background-image: url("../images/cover.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $hamburgermenu;
    width: 44px;
    height: 44px;

    &--image {
      padding: 14px 15px 14px 15px;
    }
  }
  .header__title {
    font-family: $robotoslab;
    font-size: 42px;
    width: 10em;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    margin: 284px 15px 10px 15px;
  }

  .header__text {
    font-family: $roboto;
    font-size: 16px;
    line-height: 16px;
    margin: 0px 15px 0px 15px;
  }
  .header__seclink {
    background-color: $headerscrollcolor;
    background-image: url("../images/ico-scroll-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 45px 138px 53px 138px;
  }
}
