.section2 {
  width: 100%;
  background-color: $brightorange;
  color: $white;
  display: none;
  .section2__title {
    padding-bottom: 10px;
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .section2__title {
      grid-column: 1 / 3;
      text-align: center;
    }
    .section2__subt {
      grid-row: 2 / 3;
    }
  }
}
