@font-face {
  font-family: "Dingbat", sans-serif;
  src: local("../ZapfDingbatsITC.ttf");
  font-style: normal;
  font-weight: normal;
}
@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/section";
@import "layout/articles";
@import "layout/footer";
